.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header {
  flex: 0 1 auto;
}

section {
  flex: 0 1 auto;
  justify-content: center;
}

button {
  align-items: center;
}
