.hidden {
  display: none;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header {
  flex-basis: auto;
}

section {
  flex-basis: auto;
}
